<button (click)="test1($event)">test 1</button>
<button (click)="test2($event)">test 2</button>
<button (click)="test3()" #button3>test 3</button>
<button (click)="test4()" id="button4">test 4</button>
<a href="#" (click)="test5()" class="button5">test 5</a>
<button (click)="test6()">test 6</button>
<button (click)="test7()">test 7</button>
<button (click)="test8()" class="button8">test 8</button>
<button (click)="test9()" class="button9">test 9</button>
<button (click)="test10($event)" class="button10">test 10</button>